@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.test{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPFeD5xexxVp-OYe2ClyfcOk4tUJuqMmTmghaT3o8ko3K9Hs-Gdlf4P1hcnt2g3efTJd4&usqp=CAU);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.some-div{
    display: flex;
    flex-direction: row;
    /* margin-top: 20px; */

}
.showPass{
    /* margin-top: 120px; */
    /* color: yellow; */
}

.login-container{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    /* border: 1px solid white; */
    margin-top: 150px;
    background-color: white;
    height: 400px;
    border-radius: 20px;
}
.login-header{
    font-size: 30px;
        /* font-size: 25px; */

    /* align-self: flex-start; */
}
.login-img{
    width: 150px;
    height: 150px;
    margin-bottom: -100px;
    /* margin-top: 30px; */
}
.showPass{
    width: 20px;
    height: 20px;
    margin-left: -30px;
}
.svglog{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.login-input{
    width: 70%;
    align-self: center;
    margin-bottom: 20px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px grey solid;
    margin-top: 10px;
    outline: 0px solid transparent;

}
svg{
    margin-right: 20px;
    margin-top: 20px;
}

.login-input::placeholder{
    text-align: start;
}

.login-button{
     width: 80%;
    margin-top: 35px;
    border-radius: 20px; 
    height: 40px;
    align-self: center; 
    margin-left: 15px;
    background-color: burlywood;
}
.login-button:hover{
    cursor: pointer;
    background-color: rgb(194, 165, 128);
}
.span-log{
    margin-left: 20px;
    color: red;
}
.login-text{
    margin-top: -10px;
    font-size: 25px;
}
.span-log:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: all ease 0.2s;
}
.login-response{
    /* margin-top: 220px; */
}
@media (max-width: 600px){
    .login-container{
        width: 60%;
        margin-top: 100px;
        height: 400px;
        border-radius: 20px;
    }
    .showPass{
        width: 20px;
        height: 20px;
        margin-left: -10px;
    }
}