@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');


.cartt{
    margin-top: 120px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;


    /* display: grid;
    grid-template-columns: repeat(1); */
}
.cart-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    border-bottom: 2px solid black;
    margin-bottom: 5px;

    /* justify-content: space-around; */
}

.cart-single-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    /* justify-content: space-around; */
}
.cart-prod-img{
    width: 200px;
    height: 300px;
}



.x{
    cursor: pointer;
    width: 11%;

    /* font-size: 40px;
    font-weight: bolder; */
}

.cart-header-small{
    width: 11%;
    margin: auto;
}
.cart-header-big{
    width: 33%;
    margin: auto;
}

.cart-header-medium{
    width: 22%;
    margin-left: 20px;
}

.single-line-small{
    width: 11%;
}
#single-line-small{
    width: 11%;
}
.single-line-medium{
    width: 22%;
    margin-left: 20px;
}
.single-line-big{
    width: 33%;
}
.arrow-quantity{
    width: 11%;
    display: flex;
    /* margin-left: 60px; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.counterr{
    /* margin: 0 5px 0 5px; */
    margin-left: 15px;
    margin-right: 15px;
}
#sec-arr{
    /* width: 30px;
    height: 30px; */
    font-size: 25px;
    font-weight: bolder;
}
#first-arr{
    /* width: 30px;
    height: 30px; */
    font-size: 25px;
    font-weight: bolder;
}
#first-arr:hover{
    cursor: pointer;
}
#sec-arr:hover{
    cursor: pointer;
}
#buy-btn{
    background-color: rgb(219, 231, 227);
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

#buy-btn:hover{
    cursor: pointer;

}

@media (max-width: 600px){
    .cartt{
        font-size: 14px;
    }
    .cart-prod-img{
        width: 60px;
        height: 100px;
    }
    .cart-header-small{
        width: 15%;
        margin: auto;
    }
    .cart-header-big{
        width: 30%;
        margin: auto;
                padding: 10px;

    }
    
    .cart-header-medium{
        width: 20%;
        margin-left: 20px;
    }
    .single-line-small{
        width: 15%;
    }
    #single-line-small{
        width: 15%;
    }
    .single-line-medium{
        width: 20%;
        margin-left: 20px;
    }
    .single-line-big{
        width: 30%;
                padding: 10px;

    }
    .x{
        width: 15%;
    }
    #sec-arr{
        /* width: 30px;
        height: 30px; */
        font-size: 16px;
        font-weight: bolder;
        margin-left: -10px;
    }
    #first-arr{
        /* width: 30px;
        height: 30px; */
        font-size: 16px;
        font-weight: bolder;
        margin-right: -10px;

    }
    #buy-btn{
        background-color: rgb(219, 231, 227);
        width: 65px;
        height: 30px;
        border-radius: 10px;
        font-size: 11px;
        font-weight: bold;
        padding-right: 10px;
    }
}