@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

.porduct{
    /* background-color: yellow; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    /* font-family: 'Bebas Neue', cursive; */
    align-items: center;
    /* margin-top: 0px; */

}
/* 1 */
.porduct-text{
    height: 15%;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 20px;
    text-align: center;
}
/* 2 */
.testtt{
    height: 70%;
}

.porductimg{
    width: 300px;
    height: 320px;
}
.porductimg:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: all ease 0.6s;
}
/* 3 */
.text-cart-container{
    height: 15%;

    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.text-cart-container button{
    /* color: red; */
    
    background-color: rgb(219, 231, 227);
    width: 120px;
    height: 40px;
    border-radius: 20px;

}
.text-cart-container button:hover{
    cursor: pointer;
    background-color: rgb(168, 197, 187);
}
.edit-btn:hover{
    cursor: pointer;
    /* font-size: 23px; */
}
.text-cart-txt{
    font-family: 'Barlow Condensed', sans-serif;
    margin-right: 20px;
    /* col */
}

/* .svg{
    width: 100px;
    height: 100px;
} */

/* svg{
    color: blue;
    height: 100px;
    width: 100px;
} */



.box-div{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    margin-top: 50px;
}
.hoem-marg{
    margin-top: 120px;
}

@media (max-width: 600px){
    .porductimg{
        width: 200px;
        height: 210px;
    }
    .box-div{

        margin-top: 1px;
        /* padding-bottom: 10px; */
    }
}