@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.nav-bar-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 100px;
    /* border: 2px solid yellow; */
    align-items: center;
    /* position: fixed; */
  /* top: 0; */
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right, white , rgb(219, 231, 227));
}

.logo{
    width: 100px;
    height: 100px;
}
.nav-5{
    position: fixed;
    top: 20px;
    right: 40px;
}
.profile-pic{
    
    width: 60px;
    height: 60px;
    border-radius: 30px;
    /* position: fixed; */

}
.profile-pic:hover{
    cursor: pointer;
}

.nav-bar-text{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.nav-bar-text:hover{
    cursor: pointer;
}
span{
    margin-right: 10px;
}

.nav-input{
    width: 80%;
    height: 30px;
    border-radius: 20px;
    /* margin-top: -30px; */
}

.nav-1{
    width: 10%;
}
.nav-2{
    width: 20%;
}
.nav-3{
    width: 50%;
    margin-top: -20px;
}
.nav-4{
    width: 10%;
}
.nav-4{
    /* margin-top: 20px; */
    width: 10%;
    position: relative;
    /* display: flex;
    flex-direction: column;  */
}


svg{
    width: 30px;
    height: 30px;
    /* margin-top: -10px; */
}
.nav-svg{
    color: red;
}
.nav-cart{
    width: 60%;
    height: 60px;
    margin-top: -20px;
}
.text-cart{
    position: fixed;

    /* left: 20px; */
    margin-left: 10px;
    /* margin-top: -40px; */
}

::placeholder{
    text-align: center;
}
.toggle-div{
    background-color: white;
    padding: 10px;
}

.menu:hover{
    cursor: pointer;
}
