@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

.order{
    margin-top: 120px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;

}
.order-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: auto; */
    border-bottom: 2px solid black;
    margin-bottom: 5px;

    /* justify-content: space-around; */
}
.or-head-sml{
    width: 10%;
    align-self: center;
}
.or-head-med{
    width: 20%;
    align-self: center;

}
.or-head-big{
    width: 30%;
    align-self: center;
    
}
.single-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.order-img{
    width: 150px;
    height: 200px;
}
.date-time{
    width: 20%;
    align-self: center;
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px){
    .order{
        font-size: 14px;
    }
    .order-img{
        width: 60px;
        height: 100px;
    }

    .or-head-big{
        width: 38%;
        margin: auto;
        padding: 10px;
    }
    
    .or-head-med{
        width: 20%;
        margin-left: 20px;
    }
    .or-head-sml{
        width: 14%;
    }

}