@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.big-container{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    width: 100vw;
}

.first-small-container-img{
    width: 300px;
    height: 500px;
    margin: 0 20px 0 20px;
}

.second-baby{
    /* border: 1px solid black; */
}
.comment_btn{
    background-color: rgb(219, 231, 227);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    
}
.comment_btn:hover{
    background-color: rgb(168, 197, 187);
    cursor: pointer;
}
.comment-placeholder-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.comment_btnn{
    background-color: rgb(219, 231, 227);
    width: 80px;
    height: 30px;
    border-radius: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 15px;
    
}
.comment_btnn:hover{
    background-color: rgb(168, 197, 187);
    cursor: pointer;
}
.txtArea_cmnt{
    width: 300px;
    height: 30px;
    margin-top: 10px;
}
.txtArea_cmnt::placeholder{
    text-align: center;
    margin: auto;
}
.comment-box{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 10px;
    height: 100px;
    border: 1px solid black;

}

.comment-pic{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    /* margin-left: 10px; */
}
.comment-space{
    background-color: rgb(219, 231, 227);
    width: 100%;
    margin: 10px 10px 10px -10px;
    border-radius: 20px;

}

.small-comment-box{
    /* background-color: blue; */
    margin-top: 20px;
    margin-left: 20px;
    width: 20%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */

}

.comment-text-name{
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;

    margin-top: -1px;
}

.comment-text-comment{
    font-size: 18px; 
    margin-left: 30px;
    margin-top: -20px;
    /* margin-top: 5px; */
    /* border: 1px solid black; */

}
.prod-span{
    margin: 0 10px 0 10px;
}
@media (max-width: 600px){
    .big-container{
        font-size: 11px;
    }
    .first-small-container-img{
        width: 80px;
        height: 130px;
    }
    .comment_btn{
        width: 80px;
        height: 30px;
        font-size: 12px;
        font-weight: bold;

    }
    .txtArea_cmnt{
        width: 150px;
        height: 30px;
        margin-top: 10px;
    }
    .txtArea_cmnt::placeholder{
        font-size: 10px;
    }
    .comment_btnn{
        width: 50px;
        height: 25px;
        font-size: 12px;
        font-weight: bold;
        margin-left: 5px;

    }
    .comment-pic{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        /* margin-left: 10px; */
    }
    .comment-text-name{
        font-size: 17px;
    }
    .comment-text-comment{

    font-size: 14px;
}
.comment-box{
    height: 70px;
}
.big-container{
    width: 90%;
}

}
